{
    "openapi": "3.0.4",
    "info": {
        "title": "Microsoft Graph — SharePoint Lists",
        "description": "SharePoint subset of the Microsoft Graph v1.0 OpenAPI specification (generated from graphexplorer.yaml).",
        "version": "v1.0",
        "x-ms-generated-by": {
            "toolName": "Microsoft.OpenApi.OData",
            "toolVersion": "0.0.0.0"
        }
    },
    "servers": [
        {
            "url": "https://graph.microsoft.com/v1.0/sites"
        }
    ],
    "security": [
        {
            "azureOAuth2": [
                "Sites.Read.All",
                "Sites.ReadWrite.All"
            ]
        }
    ],
    "tags": [
        {
            "name": "sites.list",
            "x-ms-docs-toc-type": "page"
        }
    ],
    "paths": {
        "/{siteId}/lists": {
            "description": "Provides operations to manage the lists property of the microsoft.graph.site entity.",
            "get": {
                "tags": [
                    "sites.list"
                ],
                "summary": "Get lists in a site",
                "description": "Get the collection of lists for a site. Lists with the system facet are hidden by default.\r\nTo list them, include system in your $select statement.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/list-list?view=graph-rest-1.0"
                },
                "operationId": "listLists",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "id desc",
                                    "createdBy",
                                    "createdBy desc",
                                    "createdDateTime",
                                    "createdDateTime desc",
                                    "description",
                                    "description desc",
                                    "eTag",
                                    "eTag desc",
                                    "lastModifiedBy",
                                    "lastModifiedBy desc",
                                    "lastModifiedDateTime",
                                    "lastModifiedDateTime desc",
                                    "name",
                                    "name desc",
                                    "parentReference",
                                    "parentReference desc",
                                    "webUrl",
                                    "webUrl desc",
                                    "displayName",
                                    "displayName desc",
                                    "list",
                                    "list desc",
                                    "sharepointIds",
                                    "sharepointIds desc",
                                    "system",
                                    "system desc"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarOrderby"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "createdBy",
                                    "createdDateTime",
                                    "description",
                                    "eTag",
                                    "lastModifiedBy",
                                    "lastModifiedDateTime",
                                    "name",
                                    "parentReference",
                                    "webUrl",
                                    "displayName",
                                    "list",
                                    "sharepointIds",
                                    "system",
                                    "createdByUser",
                                    "lastModifiedByUser",
                                    "columns",
                                    "contentTypes",
                                    "drive",
                                    "items",
                                    "operations",
                                    "subscriptions"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "createdByUser",
                                    "lastModifiedByUser",
                                    "columns",
                                    "contentTypes",
                                    "drive",
                                    "items",
                                    "operations",
                                    "subscriptions"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/microsoft.graph.listCollectionResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink",
                    "operationName": "listMore"
                },
                "x-ms-docs-operation-type": "operation"
            },
            "post": {
                "tags": [
                    "sites.list"
                ],
                "summary": "Create a new list",
                "description": "Create a new list in a site.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/list-create?view=graph-rest-1.0"
                },
                "operationId": "createList",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    }
                ],
                "requestBody": {
                    "description": "New navigation property",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MicrosoftGraphList"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created navigation property",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MicrosoftGraphList"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "x-ms-docs-grouped-path": [
                "/sites/{site-id}/microsoft.graph.getByPath(path='{path}')/lists"
            ]
        },
        "/{siteId}/lists/{listId}": {
            "description": "Provides operations to manage the lists property of the microsoft.graph.site entity.",
            "get": {
                "tags": [
                    "sites.list"
                ],
                "summary": "Get metadata for a list",
                "description": "Returns the metadata for a list.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/list-get?view=graph-rest-1.0"
                },
                "operationId": "getList",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The unique identifier of list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "list"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "createdBy",
                                    "createdDateTime",
                                    "description",
                                    "eTag",
                                    "lastModifiedBy",
                                    "lastModifiedDateTime",
                                    "name",
                                    "parentReference",
                                    "webUrl",
                                    "displayName",
                                    "list",
                                    "sharepointIds",
                                    "system",
                                    "createdByUser",
                                    "lastModifiedByUser",
                                    "columns",
                                    "contentTypes",
                                    "drive",
                                    "items",
                                    "operations",
                                    "subscriptions"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "createdByUser",
                                    "lastModifiedByUser",
                                    "columns",
                                    "contentTypes",
                                    "drive",
                                    "items",
                                    "operations",
                                    "subscriptions"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved navigation property",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MicrosoftGraphList"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "delete": {
                "tags": [
                    "sites.list"
                ],
                "summary": "Delete navigation property lists for sites",
                "operationId": "deleteList",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The unique identifier of list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "list"
                    },
                    {
                        "name": "If-Match",
                        "in": "header",
                        "description": "ETag",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "ifMatch"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Returns no content upon successful deletion of the specified list from the site."
            },
            "patch": {
                "tags": [
                    "sites.list"
                ],
                "summary": "Update the navigation property lists in sites",
                "operationId": "updateList",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The unique identifier of list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "list"
                    }
                ],
                "requestBody": {
                    "description": "New navigation property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MicrosoftGraphList"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Returns no content upon successfully updating the specified list in the site."
            }
        },
        "/{siteId}/lists/{listId}/columns": {
            "description": "Provides operations to manage the columns property of the microsoft.graph.list entity.",
            "get": {
                "tags": [
                    "sites.list"
                ],
                "summary": "List columnDefinitions in a list",
                "description": "Get the collection of columns represented as columnDefinition resources in a list.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/list-list-columns?view=graph-rest-1.0"
                },
                "operationId": "listColumns",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The unique identifier of list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "list"
                    },
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "id desc",
                                    "boolean",
                                    "boolean desc",
                                    "calculated",
                                    "calculated desc",
                                    "choice",
                                    "choice desc",
                                    "columnGroup",
                                    "columnGroup desc",
                                    "contentApprovalStatus",
                                    "contentApprovalStatus desc",
                                    "currency",
                                    "currency desc",
                                    "dateTime",
                                    "dateTime desc",
                                    "defaultValue",
                                    "defaultValue desc",
                                    "description",
                                    "description desc",
                                    "displayName",
                                    "displayName desc",
                                    "enforceUniqueValues",
                                    "enforceUniqueValues desc",
                                    "geolocation",
                                    "geolocation desc",
                                    "hidden",
                                    "hidden desc",
                                    "hyperlinkOrPicture",
                                    "hyperlinkOrPicture desc",
                                    "indexed",
                                    "indexed desc",
                                    "isDeletable",
                                    "isDeletable desc",
                                    "isReorderable",
                                    "isReorderable desc",
                                    "isSealed",
                                    "isSealed desc",
                                    "lookup",
                                    "lookup desc",
                                    "name",
                                    "name desc",
                                    "number",
                                    "number desc",
                                    "personOrGroup",
                                    "personOrGroup desc",
                                    "propagateChanges",
                                    "propagateChanges desc",
                                    "readOnly",
                                    "readOnly desc",
                                    "required",
                                    "required desc",
                                    "sourceContentType",
                                    "sourceContentType desc",
                                    "term",
                                    "term desc",
                                    "text",
                                    "text desc",
                                    "thumbnail",
                                    "thumbnail desc",
                                    "type",
                                    "type desc",
                                    "validation",
                                    "validation desc"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarOrderby"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "boolean",
                                    "calculated",
                                    "choice",
                                    "columnGroup",
                                    "contentApprovalStatus",
                                    "currency",
                                    "dateTime",
                                    "defaultValue",
                                    "description",
                                    "displayName",
                                    "enforceUniqueValues",
                                    "geolocation",
                                    "hidden",
                                    "hyperlinkOrPicture",
                                    "indexed",
                                    "isDeletable",
                                    "isReorderable",
                                    "isSealed",
                                    "lookup",
                                    "name",
                                    "number",
                                    "personOrGroup",
                                    "propagateChanges",
                                    "readOnly",
                                    "required",
                                    "sourceContentType",
                                    "term",
                                    "text",
                                    "thumbnail",
                                    "type",
                                    "validation",
                                    "sourceColumn"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "sourceColumn"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/microsoft.graph.columnDefinitionCollectionResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink",
                    "operationName": "listMore"
                },
                "x-ms-docs-operation-type": "operation"
            },
            "post": {
                "tags": [
                    "sites.list"
                ],
                "summary": "Create a columnDefinition in a list",
                "description": "Create a column for a list with a request that specifies a columnDefinition.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/list-post-columns?view=graph-rest-1.0"
                },
                "operationId": "createColumn",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The unique identifier of list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "list"
                    }
                ],
                "requestBody": {
                    "description": "New navigation property",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MicrosoftGraphColumnDefinition"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created navigation property",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MicrosoftGraphColumnDefinition"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            }
        },
        "/{siteId}/lists/{listId}/columns/{columnDefinitionId}": {
            "description": "Provides operations to manage the columns property of the microsoft.graph.list entity.",
            "get": {
                "tags": [
                    "sites.list"
                ],
                "summary": "Get columns from sites",
                "description": "The collection of field definitions for this list.",
                "operationId": "getColumn",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The unique identifier of list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "list"
                    },
                    {
                        "name": "columnDefinitionId",
                        "in": "path",
                        "description": "The unique identifier of columnDefinition",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "columnDefinition"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "boolean",
                                    "calculated",
                                    "choice",
                                    "columnGroup",
                                    "contentApprovalStatus",
                                    "currency",
                                    "dateTime",
                                    "defaultValue",
                                    "description",
                                    "displayName",
                                    "enforceUniqueValues",
                                    "geolocation",
                                    "hidden",
                                    "hyperlinkOrPicture",
                                    "indexed",
                                    "isDeletable",
                                    "isReorderable",
                                    "isSealed",
                                    "lookup",
                                    "name",
                                    "number",
                                    "personOrGroup",
                                    "propagateChanges",
                                    "readOnly",
                                    "required",
                                    "sourceContentType",
                                    "term",
                                    "text",
                                    "thumbnail",
                                    "type",
                                    "validation",
                                    "sourceColumn"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "sourceColumn"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved navigation property",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MicrosoftGraphColumnDefinition"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "delete": {
                "tags": [
                    "sites.list"
                ],
                "summary": "Delete navigation property columns for sites",
                "operationId": "deleteColumn",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The unique identifier of list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "list"
                    },
                    {
                        "name": "columnDefinitionId",
                        "in": "path",
                        "description": "The unique identifier of columnDefinition",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "columnDefinition"
                    },
                    {
                        "name": "If-Match",
                        "in": "header",
                        "description": "ETag",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "ifMatch"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Returns no content upon successful deletion of the specified column from the list."
            },
            "patch": {
                "tags": [
                    "sites.list"
                ],
                "summary": "Update the navigation property columns in sites",
                "operationId": "updateColumn",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The unique identifier of list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "list"
                    },
                    {
                        "name": "columnDefinitionId",
                        "in": "path",
                        "description": "The unique identifier of columnDefinition",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "columnDefinition"
                    }
                ],
                "requestBody": {
                    "description": "New navigation property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MicrosoftGraphColumnDefinition"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Returns no content on successful update of the specified column definition in the list."
            }
        },
        "/{siteId}/lists/{listId}/columns/{columnDefinitionId}/sourceColumn": {
            "description": "Provides operations to manage the sourceColumn property of the microsoft.graph.columnDefinition entity.",
            "get": {
                "tags": [
                    "sites.list"
                ],
                "summary": "Get sourceColumn from sites",
                "description": "The source column for the content type column.",
                "operationId": "getColumnSourceColumn",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The unique identifier of list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "list"
                    },
                    {
                        "name": "columnDefinitionId",
                        "in": "path",
                        "description": "The unique identifier of columnDefinition",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "columnDefinition"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "boolean",
                                    "calculated",
                                    "choice",
                                    "columnGroup",
                                    "contentApprovalStatus",
                                    "currency",
                                    "dateTime",
                                    "defaultValue",
                                    "description",
                                    "displayName",
                                    "enforceUniqueValues",
                                    "geolocation",
                                    "hidden",
                                    "hyperlinkOrPicture",
                                    "indexed",
                                    "isDeletable",
                                    "isReorderable",
                                    "isSealed",
                                    "lookup",
                                    "name",
                                    "number",
                                    "personOrGroup",
                                    "propagateChanges",
                                    "readOnly",
                                    "required",
                                    "sourceContentType",
                                    "term",
                                    "text",
                                    "thumbnail",
                                    "type",
                                    "validation",
                                    "sourceColumn"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "sourceColumn"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved navigation property",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MicrosoftGraphColumnDefinition"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "x-ms-docs-grouped-path": [
                "/sites/{site-id}/columns/{columnDefinition-id}/sourceColumn",
                "/sites/{site-id}/contentTypes/{contentType-id}/columns/{columnDefinition-id}/sourceColumn",
                "/sites/{site-id}/lists/{list-id}/contentTypes/{contentType-id}/columns/{columnDefinition-id}/sourceColumn"
            ]
        },
        "/{siteId}/lists/{listId}/columns/$count": {
            "description": "Provides operations to count the resources in the collection.",
            "get": {
                "tags": [
                    "sites.list"
                ],
                "summary": "Get the number of the resource",
                "operationId": "getColumnsCount",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The unique identifier of list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "list"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ODataCountResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Returns the total count of column definitions defined for the specified list."
            }
        },
        "/{siteId}/lists/{listId}/contentTypes": {
            "description": "Provides operations to manage the contentTypes property of the microsoft.graph.list entity.",
            "get": {
                "tags": [
                    "sites.list"
                ],
                "summary": "List contentTypes in a list",
                "description": "Get the collection of contentType resources in a list.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/list-list-contenttypes?view=graph-rest-1.0"
                },
                "operationId": "listContentTypes",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The unique identifier of list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "list"
                    },
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "id desc",
                                    "associatedHubsUrls",
                                    "associatedHubsUrls desc",
                                    "description",
                                    "description desc",
                                    "documentSet",
                                    "documentSet desc",
                                    "documentTemplate",
                                    "documentTemplate desc",
                                    "group",
                                    "group desc",
                                    "hidden",
                                    "hidden desc",
                                    "inheritedFrom",
                                    "inheritedFrom desc",
                                    "isBuiltIn",
                                    "isBuiltIn desc",
                                    "name",
                                    "name desc",
                                    "order",
                                    "order desc",
                                    "parentId",
                                    "parentId desc",
                                    "propagateChanges",
                                    "propagateChanges desc",
                                    "readOnly",
                                    "readOnly desc",
                                    "sealed",
                                    "sealed desc"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarOrderby"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "associatedHubsUrls",
                                    "description",
                                    "documentSet",
                                    "documentTemplate",
                                    "group",
                                    "hidden",
                                    "inheritedFrom",
                                    "isBuiltIn",
                                    "name",
                                    "order",
                                    "parentId",
                                    "propagateChanges",
                                    "readOnly",
                                    "sealed",
                                    "base",
                                    "baseTypes",
                                    "columnLinks",
                                    "columnPositions",
                                    "columns"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "base",
                                    "baseTypes",
                                    "columnLinks",
                                    "columnPositions",
                                    "columns"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/microsoft.graph.contentTypeCollectionResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink",
                    "operationName": "listMore"
                },
                "x-ms-docs-operation-type": "operation"
            },
            "post": {
                "tags": [
                    "sites.list"
                ],
                "summary": "Create new navigation property to contentTypes for sites",
                "operationId": "createContentType",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The unique identifier of list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "list"
                    }
                ],
                "requestBody": {
                    "description": "New navigation property",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MicrosoftGraphContentType"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created navigation property",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MicrosoftGraphContentType"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Returns the newly created content type associated with the specified SharePoint list."
            }
        },
        "/{siteId}/lists/{listId}/contentTypes/{contentTypeId}": {
            "description": "Provides operations to manage the contentTypes property of the microsoft.graph.list entity.",
            "get": {
                "tags": [
                    "sites.list"
                ],
                "summary": "Get contentTypes from sites",
                "description": "The collection of content types present in this list.",
                "operationId": "getContentType",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The unique identifier of list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "list"
                    },
                    {
                        "name": "contentTypeId",
                        "in": "path",
                        "description": "The unique identifier of contentType",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "contentType"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "associatedHubsUrls",
                                    "description",
                                    "documentSet",
                                    "documentTemplate",
                                    "group",
                                    "hidden",
                                    "inheritedFrom",
                                    "isBuiltIn",
                                    "name",
                                    "order",
                                    "parentId",
                                    "propagateChanges",
                                    "readOnly",
                                    "sealed",
                                    "base",
                                    "baseTypes",
                                    "columnLinks",
                                    "columnPositions",
                                    "columns"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "base",
                                    "baseTypes",
                                    "columnLinks",
                                    "columnPositions",
                                    "columns"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved navigation property",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MicrosoftGraphContentType"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "delete": {
                "tags": [
                    "sites.list"
                ],
                "summary": "Delete navigation property contentTypes for sites",
                "operationId": "deleteContentType",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The unique identifier of list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "list"
                    },
                    {
                        "name": "contentTypeId",
                        "in": "path",
                        "description": "The unique identifier of contentType",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "contentType"
                    },
                    {
                        "name": "If-Match",
                        "in": "header",
                        "description": "ETag",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "ifMatch"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Returns no content on successful removal of the specified content type from the list."
            },
            "patch": {
                "tags": [
                    "sites.list"
                ],
                "summary": "Update the navigation property contentTypes in sites",
                "operationId": "updateContentType",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The unique identifier of list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "list"
                    },
                    {
                        "name": "contentTypeId",
                        "in": "path",
                        "description": "The unique identifier of contentType",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "contentType"
                    }
                ],
                "requestBody": {
                    "description": "New navigation property values",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MicrosoftGraphContentType"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation",
                "description": "Returns no content on successful update of the specified content type in the list."
            }
        },
        "/{siteId}/lists/{listId}/contentTypes/{contentTypeId}/base": {
            "description": "Provides operations to manage the base property of the microsoft.graph.contentType entity.",
            "get": {
                "tags": [
                    "sites.list"
                ],
                "summary": "Get base from sites",
                "description": "Parent contentType from which this content type is derived.",
                "operationId": "getContentTypeBase",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The unique identifier of list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "list"
                    },
                    {
                        "name": "contentTypeId",
                        "in": "path",
                        "description": "The unique identifier of contentType",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "contentType"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "associatedHubsUrls",
                                    "description",
                                    "documentSet",
                                    "documentTemplate",
                                    "group",
                                    "hidden",
                                    "inheritedFrom",
                                    "isBuiltIn",
                                    "name",
                                    "order",
                                    "parentId",
                                    "propagateChanges",
                                    "readOnly",
                                    "sealed",
                                    "base",
                                    "baseTypes",
                                    "columnLinks",
                                    "columnPositions",
                                    "columns"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "base",
                                    "baseTypes",
                                    "columnLinks",
                                    "columnPositions",
                                    "columns"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved navigation property",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MicrosoftGraphContentType"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "x-ms-docs-grouped-path": [
                "/sites/{site-id}/contentTypes/{contentType-id}/base"
            ]
        },
        "/{siteId}/lists/{listId}/contentTypes/{contentTypeId}/baseTypes": {
            "description": "Provides operations to manage the baseTypes property of the microsoft.graph.contentType entity.",
            "get": {
                "tags": [
                    "sites.list"
                ],
                "summary": "Get baseTypes from sites",
                "description": "The collection of content types that are ancestors of this content type.",
                "operationId": "listContentTypeBaseTypes",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The unique identifier of list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "list"
                    },
                    {
                        "name": "contentTypeId",
                        "in": "path",
                        "description": "The unique identifier of contentType",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "contentType"
                    },
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "id desc",
                                    "associatedHubsUrls",
                                    "associatedHubsUrls desc",
                                    "description",
                                    "description desc",
                                    "documentSet",
                                    "documentSet desc",
                                    "documentTemplate",
                                    "documentTemplate desc",
                                    "group",
                                    "group desc",
                                    "hidden",
                                    "hidden desc",
                                    "inheritedFrom",
                                    "inheritedFrom desc",
                                    "isBuiltIn",
                                    "isBuiltIn desc",
                                    "name",
                                    "name desc",
                                    "order",
                                    "order desc",
                                    "parentId",
                                    "parentId desc",
                                    "propagateChanges",
                                    "propagateChanges desc",
                                    "readOnly",
                                    "readOnly desc",
                                    "sealed",
                                    "sealed desc"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarOrderby"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "associatedHubsUrls",
                                    "description",
                                    "documentSet",
                                    "documentTemplate",
                                    "group",
                                    "hidden",
                                    "inheritedFrom",
                                    "isBuiltIn",
                                    "name",
                                    "order",
                                    "parentId",
                                    "propagateChanges",
                                    "readOnly",
                                    "sealed",
                                    "base",
                                    "baseTypes",
                                    "columnLinks",
                                    "columnPositions",
                                    "columns"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "base",
                                    "baseTypes",
                                    "columnLinks",
                                    "columnPositions",
                                    "columns"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/microsoft.graph.contentTypeCollectionResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink",
                    "operationName": "listMore"
                },
                "x-ms-docs-operation-type": "operation"
            },
            "x-ms-docs-grouped-path": [
                "/sites/{site-id}/contentTypes/{contentType-id}/baseTypes"
            ]
        },
        "/{siteId}/lists/{listId}/contentTypes/{contentTypeId}/baseTypes/{contentTypeId1}": {
            "description": "Provides operations to manage the baseTypes property of the microsoft.graph.contentType entity.",
            "get": {
                "tags": [
                    "sites.list"
                ],
                "summary": "Get baseTypes from sites",
                "description": "The collection of content types that are ancestors of this content type.",
                "operationId": "getContentTypeBaseTypes",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The unique identifier of list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "list"
                    },
                    {
                        "name": "contentTypeId",
                        "in": "path",
                        "description": "The unique identifier of contentType",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "contentType"
                    },
                    {
                        "name": "contentTypeId1",
                        "in": "path",
                        "description": "The unique identifier of contentType",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "contentType"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "associatedHubsUrls",
                                    "description",
                                    "documentSet",
                                    "documentTemplate",
                                    "group",
                                    "hidden",
                                    "inheritedFrom",
                                    "isBuiltIn",
                                    "name",
                                    "order",
                                    "parentId",
                                    "propagateChanges",
                                    "readOnly",
                                    "sealed",
                                    "base",
                                    "baseTypes",
                                    "columnLinks",
                                    "columnPositions",
                                    "columns"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarSelect"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "*",
                                    "base",
                                    "baseTypes",
                                    "columnLinks",
                                    "columnPositions",
                                    "columns"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Retrieved navigation property",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MicrosoftGraphContentType"
                                }
                            }
                        }
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "x-ms-docs-grouped-path": [
                "/sites/{site-id}/contentTypes/{contentType-id}/baseTypes/{contentType-id1}"
            ]
        },
        "/{siteId}/lists/{listId}/contentTypes/{contentTypeId}/baseTypes/$count": {
            "description": "Provides operations to count the resources in the collection.",
            "get": {
                "tags": [
                    "sites.list"
                ],
                "summary": "Get the number of the resource",
                "operationId": "getContentTypeBaseTypesCount",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The unique identifier of list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "list"
                    },
                    {
                        "name": "contentTypeId",
                        "in": "path",
                        "description": "The unique identifier of contentType",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "contentType"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/ODataCountResponse"
                    },
                    "default": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "description": "Returns the total count of base types associated with the specified content type."
            }
        },
        "/{siteId}/lists/{listId}/contentTypes/{contentTypeId}/columnLinks": {
            "description": "Provides operations to manage the columnLinks property of the microsoft.graph.contentType entity.",
            "get": {
                "tags": [
                    "sites.list"
                ],
                "summary": "Get columnLinks from sites",
                "description": "The collection of columns that are required by this content type.",
                "operationId": "listContentTypeColumnLinks",
                "parameters": [
                    {
                        "name": "siteId",
                        "in": "path",
                        "description": "The unique identifier of site",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "site"
                    },
                    {
                        "name": "listId",
                        "in": "path",
                        "description": "The unique identifier of list",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "list"
                    },
                    {
                        "name": "contentTypeId",
                        "in": "path",
                        "description": "The unique identifier of contentType",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ms-docs-key-type": "contentType"
                    },
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "id",
                                    "id desc",
                                    "name",
                                    "name desc"
                                ]
                            }
                        },
                        "x-ballerina-name": "dollarOrderby"
                    },
                    {
                        "name": "$select",
                        "in": "query",
[...]
